<div class="bcg">
    <br><br><br>
    <div class="container">
        <h1>Products</h1>
    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Product image</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Quantity</th>
            <th>Product Brand</th>
            <th>Retailer Name</th>
            <th>Category Name</th>
            <th>Remove</th>
        </thead>
        <tbody>
            <tr *ngFor = "let product of compareList">
                <td  class="image"><img class="card-img-top" src= "http://localhost:60316/Image/{{product. productimage1}}" alt="product" width="250px" height="200px"></td>
                <td>{{product.productname}}</td>
                <td>{{product.productprice}}</td>
                <td>{{product.productquantity}}</td>
                <td>{{product.productbrand}}</td>
                <td>{{product.retailername}}</td>
                <td>{{product.categoryname}}</td>
                <td><button class="btn btn-danger" (click)="Remove(product.id)">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>
