<article><table>
    <tr>
        <th>Retailer Details</th>
        <th>Change Password</th>
        <th>Add Product</th>
        <th>Products</th>
    </tr>
    <tr>
        <td><a [routerLink]="['/retailerdetails']"><img src="assets/retailerdets.webp "></a></td>
        <td><a [routerLink]="['/retailerchangepass']"><img src="assets/changepass.png"></a></td>
        <td><a [routerLink]="['/addproduct']"><img src="assets/add-product.webp"></a></td>
        <td><a [routerLink]="['/products']"><img src="assets/products.png"></a></td>
    </tr>
</table>
</article>
<br>
<br>
    <router-outlet></router-outlet>