<article><table>
    <tr>
        <th>Retailer Details</th>
        <th>Change Password</th>
        <th>Add Product</th>
        <th>Products</th>
    </tr>
    <tr>
        <td><a [routerLink]="['/detailsRetailer']"><img src="assets/images/Revenue.png "></a></td>
        <td><a [routerLink]="['/changepasswordRetailer']"><img src="assets/images/changepass.png"></a></td>
        <td><a [routerLink]="['/addProduct']"><img src="assets/images/add-product.jpg"></a></td>
        <td><a [routerLink]="['/products']"><img src="assets/images/products.png"></a></td>
    </tr>
</table>
</article>
<br>
<br>
<router-outlet></router-outlet>