<div class="bcg">
  <div>
    <app-header></app-header>
  </div>
   <div class="router">
    <router-outlet></router-outlet>
  </div>
</div>














<!-- <app-compare></app-compare> -->

<!-- <div>
  <app-registeruser></app-registeruser>
</div> -->
<!-- <div>
  <app-loginuser></app-loginuser>
</div> -->
<!--<div>
  <app-profileuser></app-profileuser>
</div>   -->
 <!-- <div>
  <app-changepassworduser></app-changepassworduser>
</div> -->
<!-- <div>
  <app-loginadmin></app-loginadmin>
</div> 

<div>
  <app-profileadmin></app-profileadmin>
</div> -->

<!-- <div>
  <app-forgotpassworduser></app-forgotpassworduser>
</div> -->

<!-- <div>
  <app-retailer-login></app-retailer-login>
</div>
<div>
  <app-retailer-register></app-retailer-register>
</div>
<div>
  <app-retailerdetails></app-retailerdetails>
</div> -->
<!-- <div>
  <app-retailerforgetpassword></app-retailerforgetpassword>
</div> -->
<!-- <div>
  <app-home></app-home>
</div> -->
<!-- <div>
  <app-wishlist></app-wishlist>
</div> -->
<!-- <div>
  <app-product-upload></app-product-upload>
</div>
  -->
<!-- <div>
  <app-loginuser></app-loginuser>
</div> 
<div>
  <app-cart></app-cart>
</div>
 -->
 <!-- <div>
   <app-product-upload></app-product-upload>
 </div> -->
 <!-- <div>
   <app-productcategory></app-productcategory>
 </div> -->
 <!-- <div>
   <app-search></app-search>
 </div> -->
 <!-- <app-allproducts></app-allproducts>
 <br>
 <app-productsforapproval></app-productsforapproval>
 <br> -->
 

<!-- <app-wishlist></app-wishlist> -->